<!DOCTYPE html>
<html>
<head>
    <title>Live Streaming</title>
</head>
<body>
    <div class="container" style="display: flex;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('muscleGain.video_feed') }}" width="100%">
                <button id="startTimerBtn">Start Exercise</button>
            </div>
        </div>
        <div>
            <!-- <p id="exercise-mode">Current Exercise: Loading...</p> -->
            <div id="exercise-images">
                <img id="bicep-curl-img" src="{{bicep_curl}}" style="display: none;" width="100%"  alt="Bicep Curl">
                <img id="push-up-img" src="{{push_up}}" style="display: none;" width="100%"  alt="push up">
                <img id="shoulder-tap-img" src="{{shoulder_tap}}" style="display: none;" width="100%"  alt="shoulder tap">
                <img id="dumbbell-frontraise-img" src="{{dumbbell_frontraise}}" style="display: none;" width="100%"  alt="dumbbell frontraise">
                <img id="chest-press-img" src="{{chest_press}}" style="display: none;" width="100%"  alt="chest press">
                <img id="alternatingleglunges-img" src="{{alternatingleglunges}}" style="display: none;" width="100%"  alt="alternatingleglunges">
                <img id="bodyweightsquat-img" src="{{bodyweightsquat}}" style="display: none;" width="100%"  alt="bodyweightsquat">
                <img id="dumbbellhiphinge-img" src="{{dumbbellhiphinge}}" style="display: none;" width="100%"  alt="dumbbellhiphinge">
                <img id="gobletsquat-img" src="{{gobletsquat}}" style="display: none;" width="100%"  alt="gobletsquat">
                <img id="highkneetap-img" src="{{highkneetap}}" style="display: none;" width="100%"  alt="highkneetap">
            </div>
        </div>
    </div>
    <div>
        <h1 id="bicep_curl_right"></h1>
        <h1 id="bicep_curl_left"></h1>

        <h1 id="bicep_curl_right_set2"></h1>
        <h1 id="bicep_curl_left_set2"></h1>

        <h1 id="bicep_curl_right_set3"></h1>
        <h1 id="bicep_curl_left_set3"></h1>

        <h1 id="push_up_right"></h1>
        <h1 id="push_up_left"></h1>

        <h1 id="push_up_right_set2"></h1>
        <h1 id="push_up_left_set2"></h1>

        <h1 id="push_up_right_set3"></h1>
        <h1 id="push_up_left_set3"></h1>

        <h1 id="shoulder_tap_right"></h1>
        <h1 id="shoulder_tap_left"></h1>

        <h1 id="shoulder_tap_right_set2"></h1>
        <h1 id="shoulder_tap_left_set2"></h1>

        <h1 id="shoulder_tap_right_set3"></h1>
        <h1 id="shoulder_tap_left_set3"></h1>

        <h1 id="chest_press_right"></h1>
        <h1 id="chest_press_left"></h1>

        <h1 id="chest_press_right_set2"></h1>
        <h1 id="chest_press_left_set2"></h1>

        <h1 id="chest_press_right_set3"></h1>
        <h1 id="chest_press_left_set3"></h1>

        <h1 id="dumbbell_frontraise_right"></h1>
        <h1 id="dumbbell_frontraise_left"></h1>

        <h1 id="dumbbell_frontraise_right_set2"></h1>
        <h1 id="dumbbell_frontraise_left_set2"></h1>

        <h1 id="dumbbell_frontraise_right_set3"></h1>
        <h1 id="dumbbell_frontraise_left_set3"></h1>

        <h1 id="leg_lunge_left"></h1>
        <h1 id="leg_lunge_right"></h1>

        <h1 id="leg_lunge_left_set2"></h1>
        <h1 id="leg_lunge_right_set2"></h1>

        <h1 id="leg_lunge_left_set3"></h1>
        <h1 id="leg_lunge_right_set3"></h1>

        <h1 id="body_weight_squat_left"></h1>

        <h1 id="body_weight_squat_left_set2"></h1>
        
        <h1 id="body_weight_squat_left_set3"></h1>

        <h1 id="goblet_squat_left"></h1>
        <h1 id="goblet_squat_right"></h1>

        <h1 id="goblet_squat_left_set2"></h1>
        <h1 id="goblet_squat_right_set2"></h1>

        <h1 id="goblet_squat_left_set3"></h1>
        <h1 id="goblet_squat_right_set3"></h1>

        <h1 id="high_knee_tap_left"></h1>
        <h1 id="high_knee_tap_right"></h1>

        <h1 id="high_knee_tap_left_set2"></h1>
        <h1 id="high_knee_tap_right_set2"></h1>

        <h1 id="high_knee_tap_left_set3"></h1>
        <h1 id="high_knee_tap_right_set3"></h1>

        <h1 id="dumbbell_hip_hinge_left"></h1>
        <h1 id="dumbbell_hip_hinge_right"></h1>

        <h1 id="dumbbell_hip_hinge_left_set2"></h1>
        <h1 id="dumbbell_hip_hinge_right_set2"></h1>

        <h1 id="dumbbell_hip_hinge_left_set3"></h1>
        <h1 id="dumbbell_hip_hinge_right_set3"></h1>

    </div>
    
    
    
    <script>
        // Function to fetch exercise mode data and update text and images
        document.getElementById('startTimerBtn').addEventListener('click', function() {
            fetch("{{url_for('muscleGain.start_timer')}}", {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    console.log('Timer started successfully');
                    // Update the video source directly
                    location.reload()
                    document.getElementById('videoFeed').src = "{{ url_for('muscleGain.video_feed') }}";
                    
                } else {
                    console.error('Failed to start timer');
                }
            })
            .catch(error => {
                console.error('Error starting timer:', error);
            });
        });
        

        function feedbackBicepCurl() {
            fetch("{{url_for('muscleGain.feedback_bicep_curls')}}")
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('bicep_curl_right').innerText = data[0].general_feedback_right_bicep;
                document.getElementById('bicep_curl_left').innerText = data[1].general_feedback_left_bicep;
                document.getElementById('bicep_curl_right_set2').innerText = data[2].general_feedback_right_bicep_set2
                document.getElementById('bicep_curl_left_set2').innerText = data[3].general_feedback_left_bicep_set2
                document.getElementById('bicep_curl_right_set3').innerText = data[4].general_feedback_right_bicep_set3
                document.getElementById('bicep_curl_left_set3').innerText = data[5].general_feedback_left_bicep_set3
                document.getElementById('push_up_left').innerText = data[6].general_feedback_left_pushup
                document.getElementById('push_up_right').innerText = data[7].general_feedback_right_pushup
                document.getElementById('push_up_left_set2').innerText = data[8].general_feedback_left_pushup_set2
                document.getElementById('push_up_right_set2').innerText = data[9].general_feedback_right_pushup_set2
                document.getElementById('push_up_left_set3').innerText = data[10].general_feedback_left_pushup_set3
                document.getElementById('push_up_right_set3').innerText = data[11].general_feedback_right_pushup_set3
                document.getElementById('shoulder_tap_left').innerText = data[12].general_feedback_left_shouldertaps
                document.getElementById('shoulder_tap_right').innerText = data[13].general_feedback_right_shouldertaps
                document.getElementById('shoulder_tap_left_set2').innerText = data[14].general_feedback_left_shouldertaps_set2
                document.getElementById('shoulder_tap_right_set2').innerText = data[15].general_feedback_right_shouldertaps_set2
                document.getElementById('shoulder_tap_left_set3').innerText = data[16].general_feedback_left_shouldertaps_set3
                document.getElementById('shoulder_tap_right_set3').innerText = data[17].general_feedback_right_shouldertaps_set3
                document.getElementById('chest_press_left').innerText = data[18].general_feedback_left_chestpress
                document.getElementById('chest_press_right').innerText = data[19].general_feedback_right_chestpress
                document.getElementById('chest_press_left_set2').innerText = data[20].general_feedback_left_chestpress_set2
                document.getElementById('chest_press_right_set2').innerText = data[21].general_feedback_right_chestpress_set2
                document.getElementById('chest_press_left_set3').innerText = data[22].general_feedback_left_chestpress_set3
                document.getElementById('chest_press_right_set3').innerText = data[23].general_feedback_right_chestpress_set3
                document.getElementById('dumbbell_frontraise_left').innerText = data[24].general_feedback_left_dumbbellfrontraise
                document.getElementById('dumbbell_frontraise_right').innerText = data[25].general_feedback_right_dumbbellfrontraise
                document.getElementById('dumbbell_frontraise_left_set2').innerText = data[26].general_feedback_left_dumbbellfrontraise_set2
                document.getElementById('dumbbell_frontraise_right_set2').innerText = data[27].general_feedback_right_dumbbellfrontraise_set2
                document.getElementById('dumbbell_frontraise_left_set3').innerText = data[28].general_feedback_left_dumbbellfrontraise_set3
                document.getElementById('dumbbell_frontraise_right_set3').innerText = data[29].general_feedback_right_dumbbellfrontraise_set3
                document.getElementById('leg_lunge_right').innerText = data[30].general_feedback_right_leglunge
                document.getElementById('leg_lunge_left').innerText = data[31].general_feedback_left_leglunge
                document.getElementById('leg_lunge_right_set2').innerText = data[32].general_feedback_right_leglunge_set2
                document.getElementById('leg_lunge_left_set2').innerText = data[33].general_feedback_left_leglunge_set2
                document.getElementById('leg_lunge_right_set3').innerText = data[34].general_feedback_right_leglunge_set3
                document.getElementById('leg_lunge_left_set3').innerText = data[35].general_feedback_left_leglunge_set3
                document.getElementById('body_weight_squat_left').innerText = data[36].general_feedback_left_bodyweightsquat
                document.getElementById('body_weight_squat_left_set2').innerText = data[37].general_feedback_left_bodyweightsquat_set2
                document.getElementById('body_weight_squat_left_set3').innerText = data[38].general_feedback_left_bodyweightsquat_set3
                document.getElementById('goblet_squat_left').innerText = data[39].general_feedback_left_gobletsquat
                document.getElementById('goblet_squat_right').innerText = data[40].general_feedback_right_gobletsquat
                document.getElementById('goblet_squat_left_set2').innerText = data[41].general_feedback_left_gobletsquat_set2
                document.getElementById('goblet_squat_right_set2').innerText = data[42].general_feedback_right_gobletsquat_set2
                document.getElementById('goblet_squat_left_set3').innerText = data[43].general_feedback_left_gobletsquat_set3
                document.getElementById('goblet_squat_right_set3').innerText = data[44].general_feedback_right_gobletsquat_set3
                document.getElementById('high_knee_tap_left').innerText = data[45].general_feedback_left_highkneetap
                document.getElementById('high_knee_tap_right').innerText = data[46].general_feedback_right_highkneetap
                document.getElementById('high_knee_tap_left_set2').innerText = data[47].general_feedback_left_highkneetap_set2
                document.getElementById('high_knee_tap_right_set2').innerText = data[48].general_feedback_right_highkneetap_set2
                document.getElementById('high_knee_tap_left_set3').innerText = data[49].general_feedback_left_highkneetap_set3
                document.getElementById('high_knee_tap_right_set3').innerText = data[50].general_feedback_right_highkneetap_set3
                document.getElementById('dumbbell_hip_hinge_left').innerText = data[51].general_feedback_left_dumbbellhiphinge
                document.getElementById('dumbbell_hip_hinge_right').innerText = data[52].general_feedback_right_dumbbellhiphinge
                document.getElementById('dumbbell_hip_hinge_left_set2').innerText = data[53].general_feedback_left_dumbbellhiphinge_set2
                document.getElementById('dumbbell_hip_hinge_right_set2').innerText = data[54].general_feedback_right_dumbbellhiphinge_set2
                document.getElementById('dumbbell_hip_hinge_left_set3').innerText = data[55].general_feedback_left_dumbbellhiphinge_set3
                document.getElementById('dumbbell_hip_hinge_right_set3').innerText = data[56].general_feedback_right_dumbbellhiphinge_set3

                
            });
            
            
        }
        feedbackBicepCurl()
        
        // Call the function initially
        setInterval(feedbackBicepCurl, 1000)
        
        
 

        
        
        
        function updateExerciseMode() {
            fetch("{{url_for('muscleGain.get_exercise_mode')}}")
            .then(response => response.json())
            .then(data => {
                //document.getElementById('exercise-mode').innerText = 'Current Exercise: ' + data.exercise_mode;
                // Show/hide images based on exercise mode
                if (data.exercise_mode === 'bicep_curl') {
                    document.getElementById('bicep-curl-img').style.display = 'block';
                    document.getElementById('push-up-img').style.display = 'none';
                } else if (data.exercise_mode === 'push_up') {
                    document.getElementById('bicep-curl-img').style.display = 'none';
                    document.getElementById('push-up-img').style.display = 'block';
                } else if (data.exercise_mode === 'shoulder_tap'){
                    document.getElementById('push-up-img').style.display = 'none';
                    document.getElementById('shoulder-tap-img').style.display = 'block';
                } else if (data.exercise_mode === 'chest_press'){
                    document.getElementById('shoulder-tap-img').style.display = 'none';
                    document.getElementById('chest-press-img').style.display = 'block';
                } else if (data.exercise_mode === 'dumbbell_frontraise'){
                    document.getElementById('chest-press-img').style.display = 'none';
                    document.getElementById('dumbbell-frontraise-img').style.display = 'block';
                } else if (data.exercise_mode === 'alternating_lunge'){
                    document.getElementById('dumbbell-frontraise-img').style.display = 'none';
                    document.getElementById('alternatingleglunges-img').style.display = 'block';
                } else if (data.exercise_mode === 'bws'){
                    document.getElementById('alternatingleglunges-img').style.display = 'none';
                    document.getElementById('bodyweightsquat-img').style.display = 'block';
                }  else if (data.exercise_mode === 'goblet_squat'){
                    document.getElementById('bodyweightsquat-img').style.display = 'none';
                    document.getElementById('gobletsquat-img').style.display = 'block';
                }  else if (data.exercise_mode === 'highkneetap'){
                    document.getElementById('gobletsquat-img').style.display = 'none';
                    document.getElementById('highkneetap-img').style.display = 'block';
                }  else if (data.exercise_mode === 'dhh'){
                    document.getElementById('highkneetap-img').style.display = 'none';
                    document.getElementById('dumbbellhiphinge-img').style.display = 'block';
                }     

                if (data.exercise_mode === "bicep_curl_set2"){
                    document.getElementById('bicep_curl_right').style.display = 'none';
                    document.getElementById('bicep_curl_left').style.display = 'none';
                } else if (data.exercise_mode === "bicep_curl_set3"){
                    document.getElementById('bicep_curl_right_set2').style.display ='none';
                    document.getElementById('bicep_curl_left_set2').style.display ='none';
                } else if (data.exercise_mode === "push_up"){
                    document.getElementById('bicep_curl_right_set3').style.display ='none';
                    document.getElementById('bicep_curl_left_set3').style.display ='none';
                } else if (data.exercise_mode === "push_up_set2"){
                    document.getElementById('push_up_left').style.display ='none';
                    document.getElementById('push_up_right').style.display ='none';
                } else if (data.exercise_mode === "push_up_set3"){
                    document.getElementById('push_up_left_set2').style.display ='none';
                    document.getElementById('push_up_right_set2').style.display ='none';
                } else if (data.exercise_mode === "shoulder_tap"){
                    document.getElementById('push_up_left_set3').style.display ='none';
                    document.getElementById('push_up_right_set3').style.display ='none';
                } else if (data.exercise_mode === "shoulder_tap_set2"){
                    document.getElementById('shoulder_tap_left').style.display ='none';
                    document.getElementById('shoulder_tap_right').style.display ='none';
                } else if (data.exercise_mode === "shoulder_tap_set3"){
                    document.getElementById('shoulder_tap_left_set2').style.display ='none';
                    document.getElementById('shoulder_tap_right_set2').style.display ='none';
                } else if (data.exercise_mode === "chest_press"){
                    document.getElementById('shoulder_tap_left_set3').style.display ='none';
                    document.getElementById('shoulder_tap_right_set3').style.display ='none';
                } else if (data.exercise_mode === "chest_press_set2"){
                    document.getElementById('chest_press_left').style.display ='none';
                    document.getElementById('chest_press_right').style.display ='none';
                } else if (data.exercise_mode === "chest_press_set3"){
                    document.getElementById('chest_press_left_set2').style.display ='none';
                    document.getElementById('chest_press_right_set2').style.display ='none';
                } else if (data.exercise_mode === "dumbbell_frontraise"){
                    document.getElementById('chest_press_left_set3').style.display ='none';
                    document.getElementById('chest_press_right_set3').style.display ='none';
                } else if (data.exercise_mode === "dumbbell_frontraise_set2"){
                    document.getElementById('dumbbell_frontraise_left').style.display ='none';
                    document.getElementById('dumbbell_frontraise_right').style.display ='none';
                } else if (data.exercise_mode === "dumbbell_frontraise_set3"){
                    document.getElementById('dumbbell_frontraise_left_set2').style.display ='none';
                    document.getElementById('dumbbell_frontraise_right_set2').style.display ='none';
                } else if (data.exercise_mode === "alternating_lunge"){
                    document.getElementById('dumbbell_frontraise_left_set3').style.display ='none';
                    document.getElementById('dumbbell_frontraise_right_set3').style.display ='none';
                } else if (data.exercise_mode === "alternating_lunge_set2"){
                    document.getElementById('leg_lunge_right').style.display ='none';
                    document.getElementById('leg_lunge_left').style.display ='none';
                } else if (data.exercise_mode === "alternating_lunge_set3"){
                    document.getElementById('leg_lunge_right_set2').style.display ='none';
                    document.getElementById('leg_lunge_left_set2').style.display ='none';
                } else if (data.exercise_mode === "bws"){
                    document.getElementById('leg_lunge_right_set3').style.display ='none';
                    document.getElementById('leg_lunge_left_set3').style.display ='none';
                } else if (data.exercise_mode === "bws_set2"){
                    document.getElementById('body_weight_squat_left').style.display ='none';
                } else if (data.exercise_mode === "bws_set3"){
                    document.getElementById('body_weight_squat_left_set2').style.display ='none';
                } else if (data.exercise_mode === "goblet_squat"){
                    document.getElementById('body_weight_squat_left_set3').style.display ='none';
                } else if (data.exercise_mode === "goblet_squat_set2"){
                    document.getElementById('goblet_squat_left').style.display ='none';
                    document.getElementById('goblet_squat_right').style.display ='none';
                } else if (data.exercise_mode === "goblet_squat_set3"){
                    document.getElementById('goblet_squat_left_set2').style.display ='none';
                    document.getElementById('goblet_squat_right_set2').style.display ='none';
                } else if (data.exercise_mode === "highkneetap"){
                    document.getElementById('goblet_squat_left_set3').style.display ='none';
                    document.getElementById('goblet_squat_right_set3').style.display ='none';
                } else if (data.exercise_mode === "highkneetap_set2"){
                    document.getElementById('high_knee_tap_left').style.display ='none';
                    document.getElementById('high_knee_tap_right').style.display ='none';
                } else if (data.exercise_mode === "highkneetap_set3"){
                    document.getElementById('high_knee_tap_left_set2').style.display ='none';
                    document.getElementById('high_knee_tap_right_set2').style.display ='none';
                } else if (data.exercise_mode === "dhh"){
                    document.getElementById('high_knee_tap_left_set3').style.display ='none';
                    document.getElementById('high_knee_tap_right_set3').style.display ='none';
                } else if (data.exercise_mode === "dhh_set2"){
                    document.getElementById('dumbbell_hip_hinge_left').style.display ='none';
                    document.getElementById('dumbbell_hip_hinge_right').style.display ='none';
                } else if (data.exercise_mode === "dhh_set3"){
                    document.getElementById('dumbbell_hip_hinge_left_set2').style.display ='none';
                    document.getElementById('dumbbell_hip_hinge_right_set2').style.display ='none';
                } 



            })
            .catch(error => {
                console.error('Error fetching exercise mode:', error);
            });
        }

        // Update exercise mode initially
        updateExerciseMode();

        // Update exercise mode every second (or as frequently as needed)
        setInterval(updateExerciseMode, 1000);
        
    </script>
</body>
</html>
