<!DOCTYPE html>
<html>
<head>
    <title>Live Streaming</title>
</head>
<body>
    <div class="container" style="display: flex;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h3 class="mt-5">Loss Weight</h3>
                <img src="{{ url_for('lossWeight.video_feed') }}" width="100%">
                <button id="startTimerBtn">Start Exercise</button>
            </div>
        </div>
        <div>
        </div>
    </div>

    <script>
        document.getElementById('startTimerBtn').addEventListener('click', function() {
            fetch("{{url_for('lossWeight.start_timer_lossWeight')}}", {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    console.log('Timer started successfully');
                    // Update the video source directly
                    location.reload()
                    document.getElementById('videoFeed').src = "{{ url_for('lossWeight.video_feed') }}";
                    
                } else {
                    console.error('Failed to start timer');
                }
            })
            .catch(error => {
                console.error('Error starting timer:', error);
            });
        });
    </script>
</body>
</html>
